* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #212529;
    background-color: #f4f4f4;
}

/* Шапка сайта */
#site-header {
    background-color: #212529;
    color: white;
    flex-direction: column;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;

}

main {
    margin: 0 auto;
    box-sizing: border-box;
    background: white;
    max-width: 960px;
}

/* Логотип и название сайта */
.logo {
    display: flex;
    gap: 15px;
}

.site-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #ecf0f1;
}

/* Главное меню */
#main-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

#main-nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

/* Секция со списком гиперссылок */
#links-section {
    padding: 30px;
    margin-bottom: 30px;
}

.link-list-number {
    padding: 15px;
}

/* Секция с таблицей */
#table-section {
    margin-bottom: 30px;
    padding: 30px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

/* Чередование цветов строк */
.data-table tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

.data-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.data-table tbody tr:hover {
    background-color: #ecf0f1;
}

/* Объединенные ячейки */
.merged-cell {
    background-color: #212529;
    color: white;
    font-weight: bold;
    text-align: center;
}

/* Форма */
.section-title {
    margin: 0 auto;
    text-align: center;
}

.site-form {
    max-width: 600px;
    margin: 0 auto;
}

/* Подвал сайта */
#site-footer {
    background-color: #212529;
    color: white;
    padding: 30px 100px;
}

@media screen and (min-width: 880px) {
    main {
        width: 100%;
    }

    #site-header {
        flex-direction: row;
    }
}